# Calculator

In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Write an expression whose value is the 8th harmonic number.

In [1]:
1.0 + 1.0/2.0 + 1.0/3.0 + 1.0/4.0 + 1.0/5.0 + 1.0/6.0 + 1.0/7.0 + 1.0/8.0

2.7178571428571425

Assume that price contains an integer representing the price (in US currency) in cents of an item. Assuming the item is paid for with a minimum amount of change and just single dollars, write an expression for the number of single dollars that would have to be paid.   (// and %)

In [3]:
price = 250
price//100

2

In [5]:
price%100

50

Question: Assume that price is an integer variable whose value is the price (in US currency) in cents of an item. Write codes that prints the value of price in the form "X dollars and Y cents". So, if the value of price was 4321, your code would print "43 dollars and 21 cents". If the value was 501 it would print "5 dollars and 1 cents". If the value was 99 your code would print "0 dollars and 99 cents".

In [10]:
price = 99

In [11]:
dollar = price//100
dollar

0

In [12]:
dollar = int(price/100)
dollar

0

In [13]:
cents = price%100
cents

99

In [14]:
print(dollar,"dollars and,", cents,"cents")

0 dollars and, 99 cents

In [16]:
import math

In [17]:
math.cos(60)

-0.9524129804151563

Question: $ u_{z}(x) = R^2{-\frac{(Z-H)}{(x \sin a)^2 + (Z-H)^3}} \frac{4RG+G^2}{4R^2} $

In [18]:
Z = 3.4
H = 8.9
R = -1.2
G = 11

a = 30

In [19]:
x = 0.5
R**2 - ((Z-H)/((x*math.sin(a)+(Z-H)*(Z-H)*(Z-H)))) * ((4*R*G+G*G)/4*R*R)

0.6307664862595082

In [20]:
1+32

33

<b> Question: Calculate the BMI of a person using the formula:

BMI = ( Weight in Pounds / ( ( Height in inches ) x ( Height in inches ) ) ) x 703

Assign the value to the variable bmi. Assume the value of the weight in pounds has already been assigned to the variable w and the value of the height in inches has been assigned to the variable h.

Additional Notes: w = 100 and h=67 should not be modified

What is te bmi?

In [26]:
Weight = 100 # 100 pounds
Height = 67  # 5'7 or 67 inches
BMI = (Weight/(Height*Height)) * 703
print(round(BMI,1)) # prints 15.7

15.7

# Control Flow: if, elif, else

### code block: in if and not in if code block

Question: Given x and y, each assigned an integer value, write a fragment of code that assigns to larger of these with another variable named max_num.

In [ ]:
i = 50
if i<50:
    print("bring an umbrella")
    print("good day")
elif i==50:
    print("sunscreen")
else:
    print("as usual")

In [ ]:
x, y = 43, 88

if y > x: 
    max_num = y
elif y < x:
    max_num = x
else:
    max_num = x
    print("x and y are equal")
    
print(max_num)

In [8]:
x, y = 43, 88
max_num = x
if y > max_num: 
    max_num = y
print(max_num)

88

<b>Question: Given the variables x, y, and z, each assigned an integer value, write a fragment of code that assigns the smallest of these to minimal.
eg, x = 32  y= 56 z=-100

In [39]:
x = 32
y = 56
z = -100

if x < y and x < z:
    minimal = x
if y < x and y < z:
    minimal = y
if z < x and z < y:
    minimal = z
else:
    print("x,y,z are either equal or have no values.")

print(minimal)

-100

<b>Question: Write an if/else statement that adds 1 to minors if age is less than 18, adds 1 to adults if age is 18 through 64 and adds 1 to seniors if age is 65 or older.

In [46]:
age = 30
minors = 15
adults = 20
seniors = 18

In [47]:
if age < 18:
    minors+=1
if 18 <= age <= 64:
    adults +=1
if age >= 65:
    seniors +=1

print(adults) # prints 21 instead of 20 since age > 18 and < 65

21

<b>Given that pH refers to a float, write code that compares pH to 7.0 and makes the following assignments (RESPECTIVELY!) to the variables neutral, base, and acid: 

0,0,1 if pH is less than 7
0,1,0 if pH is greater than 7
1,0,0 if pH is equal to 7

In [64]:
pH = 7.0
pH_Compare = 7.0
neutral = 0
base = 0
acid = 0

In [66]:
if pH < pH_Compare:
    acid = 1
if pH > pH_Compare:
    base = 1
if pH == pH_Compare:
    neutral = 1

In [68]:
print(neutral,base,acid)

1 0 0

<b>Question:  
Online Book Merchants offers premium customers 1 free book with every purchase of 5 or more books and offers 2 free books with every purchase of 8 or more books. It offers regular customers 1 free book with every purchase of 7 or more books, and offers 2 free books with every purchase of 12 or more books.

Write a statement that assigns freeBooks the appropriate value based on the values of the boolean variable isPremiumCustomer and the integer variable nbooksPurchased.

 

Additional Notes: isPremiumCustomer and nbooksPurchased should not be modified

In [99]:
isPremiumCustomer = True
nbooksPurchased = 2
freeBooks = 0

In [100]:
if isPremiumCustomer == True and 5 <= nbooksPurchased < 8:
    freeBooks = 1
if isPremiumCustomer == True and nbooksPurchased >= 8:
    freeBooks = 2

if isPremiumCustomer == False and 7 <= nbooksPurchased < 12:
    freeBooks = 1

if isPremiumCustomer == False and nbooksPurchased >= 12:
    freeBooks = 2

In [101]:
print(freeBooks)

0

# Loops(while and for) break and continue:t he ability to repeate to run a block of code

### while loop

In [ ]:
print(0)
print(1)

In [25]:
n = 10
while n>0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [28]:
n = 0
while n<=10:
    print(n)
    n = n+1

0
1
2
3
4
5
6
7
8
9
10

Question: s = 1+2+3+..+100 using while loop

In [30]:
i = 1
s = 0

while i<=100:
    s = s+i
    i += 1
print(s)

5050

<b>Question: In mathematics, the Nth harmonic number is defined to be 1 + 1/2 + 1/3 + 1/4 + ... + 1/N. So, the first harmonic number is 1, the second is 1.5, the third is 1.83333... and so on. Assume that n is an integer variable whose value is some positive integer N. Assume also that hn is a variable whose value is the Nth harmonic number. Write an expression whose value is the (N+1)th harmonic number.   (hn + 1.0/(n+1))  

Write a while loop get the result of when n = 100

In [107]:
n = 100
counter = 1
hn = 0
while counter <= n:
    hn = hn + (1/counter)
    counter += 1

hn = hn + 1/(n+1)
print(hn)

5.1972785077386305

<b> Question: Given that n=16, use a while loop to compute the sum of the cubes of the first n counting numbers, and assign this value to total. Use no variables other than n, k, and total.

In [111]:
n = 16
k = 0
total = 0

while k <= n:
    total = total + k**3
    k+=1

print(total)

18496

<b>Question:  
Assume there is a variable, h that has already been assigned a positive integer value. Write the code necessary to count the number of perfect squares whose value is less than h, starting with 1. (A perfect square is an integer like 9, 16, 25, 36 that is equal to the square of another integer (in this case 3*3, 4*4, 5*5, 6*6 respectively). Assign the sum you compute to a variable q For example, if h is 19, you would assign 4 to q because there are perfect squares (starting with 1) that are less than h are: 1, 4, 9, 16.

In [118]:
h = 19
q = 0
n=1

while n*n < h:
    q+=1
    n+=1

print(q)

4

### list and range()

Clunker Motors Inc. is recalling all vehicles in its Extravagant line from model years 1999-2002. Given a variable modelYear (containing a integer) and a variable modelName (containing a string) write a statement that prints the message "RECALL" to standard output if the values of modelYear and modelName match the recall details.

In [120]:
modelYear = 2000
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

In [119]:
modelYear = 2003
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

In [121]:
modelYear = 1999
modelName = "Extravagant"
if modelYear in range(1999, 2003) and modelName == "Extravagant":
    print("RECALL")

RECALL

<b>Question:Create a list named tax_rates, consisting of the following five elements: 0.10, 0.15, 0.21, 0.28, 0.31, in that order.

In [122]:
tax_rates = [0.10, 0.15, 0.21, 0.28, 0.31]

In [32]:
tax_rates[0]

0.1

In [33]:
tax_rates[2]

0.21

In [34]:
tax_rates[-1]

0.31

In [35]:
tax_rates[0:3]

[0.1, 0.15, 0.21]

<b>question: Write a statement that creates a list named denominations consisting of the following six elements: 1, 5, 10, 25, 50, 100 (in that order).

In [129]:
denominations = [1,5,10,25,50,100]

In [130]:
temp = list(range(5))
temp

[0, 1, 2, 3, 4]

<b>question: Given the list = [4,2,6,1], insert 2 and 1 to the end of the list

In [41]:
lst = [4,2,6,1]

In [42]:
lst.append(2)

In [43]:
lst

[4, 2, 6, 1, 2]

In [44]:
len(lst)

5

In [45]:
range(len(lst))

range(0, 5)

### for loop

To find the minum number in a list

In [133]:
lst = [4,5,2,3,54,542,64,637,-1]

In [134]:
lst1 = [1,2,4,-1, 0]

In [135]:
min_var = lst[0]
for ele in lst:
    if ele < min_var:
        min_var = ele
        print(min_var)
print(min_var)

2
-1
-1

# function

def function_name(input):     function head
    code body  
    
    return output              return: output

In [136]:
# input is a list
# the function could find the min number of the list
# output is the min number of the list

In [137]:
def min_num(l):    # head of the function
    min_var = l[0]
    for ele in l:
        if ele < min_var:
            min_var = ele
#             print(min_var)
    
    return min_var

In [138]:
l = [1,2,4,-1, 0]   #  input
# how to use the function?     answer: function_name(input)
output = min_num(l)   
print(output)

-1

### Question:   
Write a function named comp, which compares two numbers and return the bigger one   
Input: two numbers   
Output: the bigger number  

Then call the function to get the output

In [139]:
def comp(a,b):
    if a < b:
        return
    else:
        return a

        
a = 12
b = 3
comp(a,b)

12

### Question:   
Write a function named comp2, which compares 3 numbers and return the bigger one  
Input: 3 numbers  
Output: the bigger number  

Then call the function to get the output

In [142]:
def comp2(a,b,c):
    if a > b and a > c:
        return a
    if b > a and b > c:
        return b
    if c > a and c > b:
        return c
    else:
        print("No numbers given or numbers are all equal")


output = comp2(-1, 100, -99)
print(output)

100

In [48]:
language = "Python"

In [49]:
for character in language:
    print(character)

P
y
t
h
o
n

Dont print 't'

In [51]:
for character in language:
    if character == 't':
        continue
    print(character)

P
y
h
o
n

stop printing if meet 't'

In [53]:
for character in language:
    if character == 't':
        break
    else:
        print(character)

P
y

### Question:  
write a function named printfruit which print out the fruit one by one  
input: a list of fruits   
no return, only print out these fruits one by one  

for example
fruits = ["apple", "banana", "cherry"]   
"apple"  
"banana"  
"cherry"

In [145]:
fruits = ["apple", "banana", "cherry"]

def printfruit(fruits):
    for i in fruits:
        print(i)

printfruit(fruits)

apple
banana
cherry

### Question:   
write a function named printchar which print out the char in a string one by one   
input: a string   
no return, only print out these fruits one by one

In [146]:
# Assuming "only print fruit part is a typo"
x = "Hello"

def printchar(character):
    for i in character:
        print(i)

printchar(x)

H
e
l
l
o

<b>Question:  
Exit the loop when x is "banana", but this time the break comes before the print:

In [151]:
fruits = ["apple", "banana", "cherry"]

def printfruit(fruits):
    for i in fruits:
        if i == 'banana':
            break
        else:
            print(i)

printfruit(fruits)

apple

<b>Question:  
Do not print banana:

In [152]:
fruits = ["apple", "banana", "cherry"]

def printfruit(fruits):
    for i in fruits:
        if i == 'banana':
            continue
        else:
            print(i)

printfruit(fruits)

apple
cherry